## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
sample_list_1=random.sample(range(101),k=80)

print(sample_list_1)

[44, 79, 54, 20, 31, 56, 50, 78, 45, 61, 94, 32, 36, 98, 40, 74, 87, 0, 85, 90, 68, 35, 26, 88, 52, 51, 11, 14, 33, 46, 2, 42, 91, 48, 23, 65, 34, 86, 57, 66, 53, 97, 55, 1, 73, 8, 84, 81, 27, 64, 77, 71, 96, 95, 60, 29, 39, 89, 9, 6, 13, 4, 21, 18, 10, 17, 70, 99, 16, 49, 62, 75, 38, 30, 22, 43, 69, 82, 19, 58]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))
#length is still 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [11]:
# Your code here
sample_list_2 = random.choices(range(101),k=80)
print(sample_list_2)

[56, 30, 75, 15, 61, 64, 39, 5, 42, 40, 11, 96, 50, 60, 38, 40, 74, 84, 53, 2, 12, 72, 86, 23, 84, 31, 92, 91, 65, 13, 87, 80, 7, 72, 30, 6, 66, 64, 61, 32, 69, 88, 76, 4, 93, 34, 6, 68, 18, 7, 37, 11, 59, 86, 38, 60, 84, 9, 13, 66, 43, 75, 49, 25, 84, 85, 16, 80, 73, 46, 88, 61, 64, 87, 98, 91, 44, 69, 6, 65]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [12]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

#duplicates were removed so the length is shorter (54)

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [13]:
# Your code here

set3 = set1 -set2
print(set3)

{0, 1, 8, 10, 14, 17, 19, 20, 21, 22, 26, 27, 29, 33, 35, 36, 45, 48, 51, 52, 54, 55, 57, 58, 62, 70, 71, 77, 78, 79, 81, 82, 89, 90, 94, 95, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [14]:
# Your code here

set4 = set2 -set1
print(set4)

{5, 37, 7, 72, 12, 76, 15, 80, 25, 59, 92, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [15]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{2, 4, 6, 9, 11, 13, 16, 18, 23, 30, 31, 32, 34, 38, 39, 40, 42, 43, 44, 46, 49, 50, 53, 56, 60, 61, 64, 65, 66, 68, 69, 73, 74, 75, 84, 85, 86, 87, 88, 91, 96, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [50]:
# Your code here
len(set1) # list of 80 unique items
len(set2) # list of 54 unique items
len(set3) # items unique to set1 (not in set2)
len(set4) # items unique to set2 (not in set1)
len(set5) # items common to set1 and set2

if len(set1) > len(set2):
    print("set1 has more items than set2")

if ((len(set1) > len(set3))&(len(set1) > len(set4))&(len(set1) > len(set5))):
    print("set1 is larger than set3, set4, and set5")

if ((len(set2) > len(set3))&(len(set2) > len(set4))&(len(set2) > len(set5))):
    print("set2 is larger than set3, set4, and set5")

set1 has more items than set2
set1 is larger than set3, set4, and set5
set2 is larger than set3, set4, and set5

#### Create an empty set called `set6`.

In [27]:
# Your code here
set6 =set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [28]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 4, 6, 8, 9, 10, 11, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 77, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [30]:
# Your code here
if set1 == set6:
    print("True")
else:
    print("False")

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [33]:
# Your code here

if set2.issubset(set1):
    print("set1 contains set2")
else:
    print("set1 does not contain set2")
    
if set3.issubset(set1):
    print("set1 contains set3")
else:
    print("set1 does not contain set3")

set1 does not contain set2
set1 contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [34]:
# Your code here

union_set345 = set3.union(set4,set5)
union_set12 = set1.union(set2)

if union_set345 == union_set12:
    print("They are equal")
else:
    print("They are not equal")

They are equal

#### Using the `pop` method, remove the first element from `set1`.

In [42]:
# pop removes random element from set and doesn't take any parameters
first_element = next(iter(set1))
set1.remove(first_element)

print(set1)

{1, 2, 4, 6, 8, 9, 10, 11, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 77, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [48]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for item in list_to_remove:
    set1.discard(item)

print(set1)

{2, 4, 6, 8, 10, 13, 14, 16, 17, 18, 20, 22, 23, 26, 27, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 44, 45, 46, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 64, 65, 66, 68, 70, 73, 74, 75, 77, 78, 82, 84, 85, 86, 87, 88, 90, 94, 95, 96, 97, 98}